* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #A4D3EE;
  padding: 60px 10px;
}


header a {
  color: #212121;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}


#column-1 {
  width: 60%;
  background: white;
  float: left;
  height: 620px;
}

#column-2 {
  background: #FF8C69;
  width: 20%;
  height: 620px;
  float: left;
}

#column-3 {
  width: 20%;
  height: 620px;
  float: left;
  background: #D8BFD8;
}

.text{
  padding-top: 10px;
  padding-left:12px;
}
footer{
 position: absolute;
  left: 0;
  display: flex;
  bottom: 0;
  width: 100%;
  padding: 60px 10px;
  background-color: #A4D3EE;
  }

  footer a {
  color: #212121;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
   font-size: 25px;
  font-weight: bold;
}



